{% extends 'shop/front/base.html.twig' %}

{% block body %}
    <!-- start product Area -->
    <section class="section_gap">
        <!-- single product slide -->
        <div class="single-product-slider">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 text-center">
                        <div class="section-title">
                            <h1>Latest Products</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                incididunt ut labore et
                                dolore
                                magna aliqua.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                        <!-- single product -->
                        <div class="col-lg-3 col-md-6">
                            <div class="single-product">
                                <img class="img-fluid" src="{{ asset('/shop_front/img/product/p1.jpg') }}" alt="">
                                <div class="product-details">
                                    <h6>{{ product.name }}</h6>
                                    <div class="price">
                                        <h6>${{ product.price }}</h6>
                                        {#                                        <h6 class="l-through">$210.00</h6> #}
                                    </div>
                                    <div class="prd-bottom">
                                        <form id="cart-form-{{ product.id }}" action="{{ path('cart_add') }}" method="post">
                                            <input type="hidden" name="product_id" value="{{ product.id }}">
                                            <input type="hidden" name="quantity" value="1">
                                        </form>
                                        <a href="#" class="social-info" onclick="document.getElementById('cart-form-{{ product.id }}').submit(); return false;">
                                            <span class="ti-bag"></span>
                                            <p class="hover-text">add to cart</p>
                                        </a>
                                        <a href="{{ path('shop_product_detail', {'id': product.id}) }}"
                                           class="social-info">
                                            <span class="lnr lnr-move"></span>
                                            <p class="hover-text">view more</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center text-muted">No products found.</td>
                        </tr>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- end product Area -->
{% endblock %}

